#briefcase {
    background: url(../images/clipboard-row1-bgRemoved.png);
    position: absolute;
    width: 307px;
    height: 361px;
    /* background-position: center; */
    justify-items: center;
    align-self: flex-end;
    scale: 0.3;
    animation-fill-mode: forwards;
    /* left: 70%; */
    /* bottom: 151px; */
    justify-self: flex-start;
    top: -20%;
    right: 40px;
}

#briefcase:hover {
    /* background: url(../images/clipboard-row1.png); */
    /* background-position: 0% 0%;  */
    width: 307px;
    height: 361px;
    
    /* -webkit-animation: briefOpen 0.9s steps(5) 20;;
    animation: briefOpenOne 0.01s steps(1) 1;
    animation-fill-mode: forwards; */
}
#buckle {
    /* outline: 2px dotted yellow; */
    position: relative;
    /* outline: 4px dotted red; */
    top: 145px;
    right: -66px;
    height: 100px;
    width: 200px;
    background-color: transparent;
    border: none !important;
    font-size: 0;
    cursor: pointer;
}

#briefcase:has(#buckle:focus) {
   background: url(../images/clipboard-row1-bgRemoved.png);
  
    animation: briefOpenOne 0.05s steps(1) forwards, briefOpenOneTwo 0.4s steps(3) 1.75s forwards;
    animation-fill-mode: forwards !important; 

    
}



@keyframes briefWiggle {
   0% {
    transform: scale(1);
  }
 
  25%{
    transform: scale(1.08);
  }

  35%{
    transform: scale(1.08);
    transform: rotate(-10deg);
  }

  45%{
    transform: scale(1.08);
    transform: rotate(8deg);
  }

  50%{
    transform: scale(1.08);
    transform: rotate(-10deg);
  }

  65% {
    transform: scale(1.08);
    transform: rotate(8deg);
  }

  75% {
    transform: scale(1.08);
    transform: rotate(-10deg);
  }
  85% {
    transform: scale(1.08);
    transform: rotate(8deg);
  }
  95% {
    transform: scale(1.08);
    transform: rotate(-10deg);
  }
  100% {
    transform: scale(1.08);
    transform: rotate(0deg);
  }
}

@keyframes delay-animation {
   0% {
    
  }
 
  25%{
   
  }

 

  100% {
      transform: scale(1);
      transform: rotate(0deg);
  }
}

@keyframes briefOpenOne {
    from { background-position: 0px; }
    to { background-position: -307px; }
}


@keyframes briefOpenOneTwo{
    from { background-position: -307px;}
    to { background-position: -1229px;}
}


/* new css */

.main-bg{
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    margin: 2% auto;
    flex-direction: column;
/*    outline: 2px dotted black;*/
    background-color: #0F1647;
}


#fbi-badge{
   
    background-position: center;
    
    /* height: auto;
    width: auto; */
    height: 125px;
    width: 125px;
    margin-left: 10px;
}

.badge-img{
/*    object-fit: scale-down;*/
    max-width: 200px;
    /* border: 4px solid white; */
    background-color: #0F1647;
}

#top-corner article{

    
}


#top-corner {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 10rem;
    position: relative;
    gap: 3px;
    left: 11%;
    flex-basis: 0%;
    /* border: 2px dotted black; */
    /* flex-wrap: wrap; */
    width: 487px;
}

#header {
    display: flex;
    flex: 1 0 56%;
    width: 100%;
    flex-wrap: wrap;
    height: 169px;
    margin: 15px 0px 0px 0px;
    /* outline: 2px dashed black; */
    color: #EBC121;

}

#header sub{


    position: relative;
    left: 4px;

}


#top-corner  article{
    
    font-size: 18px;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: parent;
    /* border: 3px dotted black; */
    height: fit-content;
    color: #EBC121;
    

}

#header sub{
    position: relative;
    left: 4px;

}

#header ul{
    
    padding-left: 5%;
    font-size: 10px;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}

#header sub{
    height: auto;
    color: #EBC121;
    position: relative;
    left: 4px;
    margin: 0px 0px;
}



#divider {
    position: relative;
    scale: 16.25;
    transform: skew(231deg);
    bottom: 118px;
    rotate: -115deg;
    align-self: end;
    left: 16px;
}

.dvClass {
    background-repeat: no-repeat;
    max-width: 8px;
}

#bio{
     /* align-self: flex-end; */
    /* outline: 2px dotted pink; */
    position: relative;
    justify-self: flex-start;
    align-self: center;
    height: fit-content;
    right: 15%;
    margin-left: 0px;
    
}

.main-bg ul{
    display: flex;
    flex-direction: column;
}

hr.solid-line {
    border: none;
    border-top: 2px solid rgb( 255 255 255 / 2);
    margin: 10px 5px;
    width: 520px;
}

#biod{
    margin-left: 0px;
    font-size: 27px;
    margin-bottom: 10px;
    align-self: center;
    position: relative;
    right: 24%;
    /* right: 84%; */
}

#bio article{
    font-size: 15px;
    line-height: 20px;
    width: 250px;
    height: 300px;
    position: relative;
    justify-self: flex-start;
}

#title {
    width: auto;
    height: 200px;
    flex: 2 1 auto;

}

#suitMan{
    position: absolute;
    width: 200px;
    height: 203px;
    align-self: center;
    right: 26%;
    top: 35%;
    border-radius: 1deg;
    opacity: 0.9;
}


#flag{
    position: absolute;
    width: 369px;
    height: 203px;
    align-self: center;
    right: 21%;
    top: 36%;
    border-radius: 1deg;
    opacity: 1;
}

